.container{
    display:grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(10,1fr);
    grid-auto-flow: dense;
}

.box:nth-child(6n){
    grid-column: span 3;
    grid-row: span 4;
}
.box:nth-child(8n){
    grid-column: span 2;
    grid-row: span 3;
}
.box:nth-child(9n){
    grid-row: span 3;
    grid-column: span 2;
}
img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
